.gsn-social-icons ul li a,
.gsn-social-icons ul li a:hover {
/*
	background-color: #999;
	border-radius: 3px;
	color: #fff;
	border: 0px #fff solid;
	font-size: 20px;
	padding: 10px;

	border: none !important;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	font-family: 'fontello';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1em;
	speak: none;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	width: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
*/
}

.gsn-social-icons ul li a:hover {
/*
	background-color: #666;
	border-color: #666;
	color: #fff;
*/
}